<main>
  <mat-toolbar class="header" color="primary">
    <span> Filters </span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <section class="content">
    <div class="toolbar pt-2 px-2 pb-1">
      <div class="search">
        <!-- Search and filter options -->
      </div>
      <div class="spacer"></div>
      <app-add-filter-button></app-add-filter-button>
    </div>
    <div #dialogPlaceholder [ngClass]="{ 'non-modal': openNonModal, 'p-1': openNonModal }"></div>
    <filters-list class="p-1"></filters-list>
  </section>
</main>
