<div *ngIf="criteriaTypes.length > 0 || (id && filter)">
  <form
    [formGroup]="filterForm"
    (ngSubmit)="onSubmit()"
    id="filterFormId"
    #documentEditForm="ngForm"
  >
    <input type="hidden" formControlName="id" />
    <div class="container">
      <div class="form-group row">
        <div class="col-md-2">
          <label for="name-field">Filter name</label>
        </div>
        <div class="col-md-3 ps-0">
          <input
            type="text"
            class="form-control"
            id="name-field"
            placeholder="Name"
            formControlName="name"
          />
          <div *ngIf="formInvalid && filterForm.controls['name'].errors" class="text-danger">
            <p class="error" *ngIf="filterForm.controls['name'].errors['required']">Name is required.</p>
          </div>
        </div>
      </div>

      <div class="form-group row pt-3">
        <div class="col-md-2">
          <label>Criteria</label>
        </div>
        <div class="col-md-10">
          <div class="container px-0">
            <div class="row">
              <div class="col">
                <div formArrayName="criterias">
                  <div
                    *ngFor="
                      let criteria of getCriteriaControls('criterias');
                      let i = index
                    "
                    class="criteria-row"
                  >
                    <app-criteria-row
                      [criteriaForm]="criteria"
                      [criteriaTypes]="criteriaTypes"
                      [criteriaCount]="criteriaCount"
                      [formInvalid]="formInvalid"
                      (remove)="removeCriteria(i)"
                    ></app-criteria-row>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <button
                  class="add-button"
                  mat-flat-button
                  type="button"
                  (click)="addCriteria()"
                >
                  <mat-icon>add</mat-icon>Add Criteria
                </button>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row pt-3">
        <div class="col-md-2">
          <label for="selection-id">Selection</label>
        </div>
        <div class="col-md-10">
          <mat-radio-group id="selection-id" formControlName="selection">
            <mat-radio-button value="1" color="primary">a</mat-radio-button>
            <mat-radio-button value="2">b</mat-radio-button>
            <mat-radio-button value="3">c</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </form>
</div>
