<div [formGroup]="criteriaForm" class="criteria-row pb-3">
  <div class="container px-0">
    <div class="row">
      <div class="col-sm px-0">
        <div class="form-group">
          <select
            class="form-select form-control"
            formControlName="criteriaType"
            required
          >
            <option *ngFor="let type of criteriaTypes" [value]="type.id">
              {{ type.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-sm pe-0">
        <div class="form-group">
          <select
            class="form-select form-control"
            formControlName="operator"
            required
          >
            <option *ngFor="let op of operators" [value]="op.operator">
              {{ op.label }}
            </option>
          </select>
          <div *ngIf="formInvalid && criteriaForm.controls['operator'].errors" class="text-danger">
            <p class="error" *ngIf="criteriaForm.controls['operator'].errors['required']">Operator is required.</p>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <input
            [type]="valueFieldType"
            class="form-control"
            id="value"
            placeholder="Value"
            formControlName="value"
          />
          <div *ngIf="formInvalid && criteriaForm.controls['value'].errors" class="text-danger">
            <p class="error" *ngIf="criteriaForm.controls['value'].errors['required']">Value is required.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-1 px-0">
        <button
          class="custom-flat-button"
          type="button"
          [disabled]="criteriaCount == 1"
          (click)="onRemove()"
        >
          <mat-icon class="remove-icon">remove</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
