@import "../filter-editor/filter-editor.component.css";

.remove-icon {
  transform: scale(1.25);
}

/* Custom CSS for flat button */
.custom-flat-button {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #f24583;
  border-color: #f24583;
}

.custom-flat-button:hover {
  color: #fff;
  background-color: #ee5e93;
  border-color: #ee5e93;
}

.custom-flat-button.disabled,
.custom-flat-button:disabled {
  color: #fff;
  background-color: #b8b8b8;
  border-color: #b8b8b8;
}
