.cancel-btn {
  background-color: var(--secondary-color);
  color: white;
}

.actions {
  display: flex;
  align-items: center;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5ebecd;
}

.dialog-title {
  color: white;
  font-weight: 500;
}

.non-footer {
  text-align: right !important;
  position: relative;
}

.footer {
  background-color: #f2f2f2;
  text-align: center !important;
  width: 100%;
  position: relative;
  bottom: 0;
}

.dialog-icon {
  transform: scale(1.25);
}

.mat-mdc-dialog-content {
  max-height: 100vh !important;
}