<div class="header p-2">
  <h4 class="dialog-title">Filter</h4>
  <button
    class="close-button"
    mat-icon-button
    mat-dialog-close
    aria-label="Close"
  >
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="content">
  <app-filter-editor [id]="filterId"></app-filter-editor>
</div>
<div class="footer p-3">
  <button class="cancel-btn btn" mat-dialog-close mat-flat-button type="button">
    CANCEL
  </button>
  <button
    class="btn"
    form="filterFormId"
    mat-flat-button
    type="submit"
    color="primary"
  >
    SAVE
  </button>
</div>
